:root {
	/* Fonts */
    --main-font-primary: 'Amatic SC', cursive; 
    --main-font-secondary: 'Patrick Hand', cursive; 	/* header */
    --main-font-tertiary: 'Sedgwick Ave', cursive;
    
	/* Colors */
	--main-color-gray: #485359;
	--main-color-white: #FFFFFF;
	--main-color-black: #0d0d0d;
	--main-color-lightP: #FCE4EC;
	--main-color-dark: #45735d;
	--main-color-light2: #f38888;
	--main-color-dark2: #d27575;
    --main-color-pink: #F397B7;
    --main-color-deeppink: #EF1A9E;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}

html {
    font-size: 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

h2 {
    color: #EF1A9E;
    font-size: 5rem;
    font-weight: 200;
    letter-spacing: 8px;
    margin-bottom: 1rem;
}

h3{
    color:#EF1A9E;
    font-size: 4rem;
    font-weight: 400;
}

.image{
    margin-top: 10rem;
    margin-bottom: 5rem;
}

p{
    font-size: 1rem;
    color: #0d0d0d;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.btn{
    display: inline-block;
    padding: .5rem 1.5rem;
    background: #FCE4EC;
    font-size: 1rem;
    color: #485359;
    border-radius: 20px;
}

.btn:hover{
    background: #EF1A9E;
}
