/* CSS Reference from W3School: https://www.w3schools.com/cssref/ */

/* Example Variables */
:root {
	/* Fonts */
    --main-font-primary: 'Amatic SC', cursive; 
    --main-font-secondary: 'Patrick Hand', cursive; 	/* header */
    --main-font-tertiary: 'Sedgwick Ave', cursive;
    
	/* Colors */
	--main-color-gray: #485359;
	--main-color-white: #FFFFFF;
	--main-color-black: #0d0d0d;
	--main-color-lightP: #FCE4EC;
	--main-color-dark: #45735d;
	--main-color-light2: #f38888;
	--main-color-dark2: #d27575;
    --main-color-pink: #F397B7;
}


.header{
	background-color: var(--main-color-white);
    font-family: 'Amatic SC', cursive;
    color: deeppink
}


.header-right {
  float: right;
} 

.navbar-nav {
    font-family: 'Patrick Hand', cursive;
}


#sec_lan_sec1 {
	height:75vh;
	background-color: var(--main-color-white);
    font-family: 'Amatic SC', cursive;
}

/* Style the footer */
.footer {
 	height: 10vh;
	background-color: pink;
    font-family: 'Reggae One', cursive;
    color:white
}

